{% extends 'base.html' %}
{% block content %}
<div style="display: inline-flex; border: 1px solid; background-color: green; width: 30%;">
    <h3 style="width: 100%;">мы любим деньги<br>
________$$$$$___$$$$$<br>
________$$$$$___$$$$$<br>
________$$$$$___$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$__$$$$$___$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
_$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
________$$$$$_$$$$$__$$$$$<br>
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$<br>
________$$$$$___$$$$$<br>
________$$$$$___$$$$$<br>
________$$$$$___$$$$$<br>
    </h3>
</div>
        {% endblock %}